@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ravi";
  src: url("./fonts/RaviFaNum-Regular.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: ravi;
}
